*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(135deg, #f0f4f8, #d9e3ec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    border-radius: 16px;
    box-shadow: 0 12px 30 rgba(0, 0, 0, 0.1);
}

h1{
    color: "2c3e50";
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.todo-input{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.todo-input input{
    flex: 1;
    padding: 0.75rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.task-complete{
    text-decoration: line-through;
    color: #999;
}