*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(135deg, #f0f4f8, #d9e3ec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    border-radius: 16px;
    box-shadow: 0 12px 30 rgba(0, 0, 0, 0.1);
}

.task-complete{
    text-decoration: line-through;
    color: #999;
}